h1{
    
    color: rgba(200, 9, 238, 0.989);
     
}
button{
    background-color: rgb(9, 182, 9);
    color: aliceblue;
   
    cursor: default;
    border-color:black ;
}
body{
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    width: 1500px;   
}


